body {
    padding-top: 20%;
    padding-bottom: 20%;
}
@media (max-width: 980px) {
    body {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

#chatbox {   
    position:fixed;
    left:0px;
    bottom:0px;
    width:100%;
    height:50%;
    background:#d3d3d399;
 }
 
 /* IE 6 */
 * html #chatbox {
    position:absolute;
    top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
 }

textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

.ai_response{
    background-color: lightblue;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-left: 10px;
}

.narration_response{
    padding: 10px;
    font-style: italic;
}

.user_response{
    background-color: lightsalmon;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 20px;
}